body{
  margin:0;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;

}
.can {
  background-color: #EAF6F6;
}
h1{
  font-size: 90px;
  margin-top:0;
  font-style: oblique;
  font-weight: lighter;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
margin-bottom: 0;

}
.bh{
  color:#40514E;
}

h2
{font-family: 'Redressed', cursive;
color: #66BFBF;
}

}
.bottom-container{
  color: #66BFBF;
}
h3
{
  font-family: 'Redressed', cursive;
  color: #11999E;

}
.skill-row
{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.programmer
{
  width: 25%;
  float:left;
margin-right: 30px;
}
.l2
{
  clear: left;
}
.pubg{
  width:25%;
  float:right;
margin-left: 30px;

}

.m1
{

  text-align: center;
}
.b2
{
  text-align: center;
}
.b1
{
  padding: 20px;
  position: relative;
  left:250px;
}
.c2
{
  position: relative;
  right: 250px;
}
.footer-link{
  color: #11999E:
  text-decaration:none;
}
.s1{
  background-color: : #EAF6F6:
}
.bottom-container{
  background-color: #66BFBF;
  padding:30px;
}
a{
  text-decoration: none;
font-family: 'Redressed', cursive;
  margin: 10px 20px;
}
a:hover{
  color: magenta;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
}
.sunn{
  width:30%;
  margin:auto;
  padding: 20px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.contact-me{
  margin: 20px auto;
}
